*{
    box-sizing: border-box;
}

.w-45{
    width: 45%;
}

.w-100{
    width: 100%;
}

.wrapper{
    margin: 0 auto;
    width: 80%;
}

.flex {
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
}

